* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: url("./Sprinkle.svg");
}

/*section Style - parent of all */

#game {
  padding-top: 5%;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* gui - parent of canvas & buttons */
.gui {
  width: 75%;
  height: 75%;
  box-shadow: 5px 5px 15px 5px #000000;
}

/* buttons & timer */

.buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(110, 110, 110, 1) 0%,
    rgba(0, 0, 0, 1) 84%
  );
}
button {
  padding: 0 10px 0 10px;
  margin: 0px 20px 0 10px;
  height: 30px;
  background: #eaeaea;
  color: black;
  border: none;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

/* timer */

#timerCountDown {
  width: 75px;
  height: 50px;
  background: black;
}

p {
  text-align: center;
  color: white;
  font-weight: bold;
}

#waveCounter {
  width: 75px;
  height: 50px;
  background: black;
  margin-left: 10px;
}

#wcount {
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

#canvas {
  width: 100%;
  height: 60%;
  border: 1px solid black;
}

#money {
  height: 50px;
  width: 100px;
  margin-right: 10px;
  color: #ffff;
}

#coinCount {
  font-size: 20px;
}

/*Pop Up*/
:root {
  --modal-duration: 1s;
  --modal-color: #428bca;
}

#btnModal {
  margin-right: 52%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  border-radius: 10px;
}

.modal-body {
  padding: 10px 20px;
  background: rgb(80, 80, 80);
  border-radius: 10px;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Dropdown Tower Button*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

#btnBuild {
  display: block;
}
