* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url('./Sprinkle.svg');
}

/*section Style - parent of all */

#game {
  padding-top: 5%;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* gui - parent of canvas & buttons */
.gui {
  width: 75%;
  height: 75%;
  box-shadow: 5px 5px 15px 5px #000000;
}

/* buttons & timer */

.buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  background: linear-gradient(90deg, rgba(110,110,110,1) 0%, rgba(0,0,0,1) 84%);
}
button {
  padding: 0 10px 0 10px;
  margin: 0px 20px 0 10px;
  height: 30px;
  background: #eaeaea;
  color: black;
  border: none;
  font-weight: bold;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

/* timer */

#timerCountDown {
  width: 75px;
  height: 50px;
  background: black;
}

p {
  text-align: center;
  color: white;
  font-weight: bold;
}

#waveCounter {
  width: 75px;
  height: 50px;
  background: black;
  margin-left: 10px;
}

#canvas {
  width: 100%;
  height: 60%;
  border: 1px solid black;
}
